aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.3
async-timeout==4.0.2
attrs==23.1.0
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.2.0
dataclasses==0.6
frozenlist==1.4.0
idna==3.4
macholib==1.16.2
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.0.4
Pygments==2.15.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.5
PyJWT==2.8.0
requests==2.31.0
tqdm==4.65.0
urllib3==2.0.3
yarl==1.9.2
zhipuai==1.0.7
